ion-content {
  --background: #111111;
}

.detalle-container {
  min-height: 100%;
  width: 100%;
}

.detalle-card {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: #f4f7f9;
}

.detalle-header {
  position: relative;
  min-height: 168px;
  padding: 24px 50px 24px 50px;

  display: flex;
  align-items: center;

  background: #f23827;
  color: white;
}

.back-button {
  position: absolute;
  top: 18px;
  left: 22px;

  border: 0;
  background: transparent;

  color: white;
  font-size: 36px;
  font-weight: 300;

  cursor: pointer;
}

.header-info {
  display: flex;
  flex-direction: column;
}

.tipo-alerta {
  margin-bottom: 8px;

  font-size: 14px;
  text-decoration: underline;
}

.header-info h1 {
  margin: 0 0 8px;

  font-size: 26px;
  font-weight: 700;
}

.fuente {
  font-size: 15px;
  font-weight: 600;
}

.header-icon {
  position: absolute;
  right: 25px;
  top: 38px;

  font-size: 70px;
}

.detalle-body {
  padding: 32px 32px 24px;
}

.nivel-alerta {
  width: fit-content;

  margin-bottom: 30px;
  padding: 13px 17px;

  border-radius: 14px;

  background: #ffb9bd;
  color: #e51f27;

  font-size: 17px;
}

.nivel-alerta strong {
  font-weight: 800;
}

.info-item {
  display: flex;
  align-items: flex-start;

  gap: 18px;

  margin-bottom: 28px;
}

.info-icon {
  flex-shrink: 0;

  width: 38px;
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #555;

  font-size: 32px;
}

.info-item > div:last-child {
  display: flex;
  flex-direction: column;

  padding-top: 2px;
}

.info-titulo {
  margin-bottom: 2px;

  color: #222;

  font-size: 18px;
  font-weight: 500;
}

.info-valor {
  color: #444;

  font-size: 16px;
  line-height: 1.25;
}

.info-description {
  margin-bottom: 34px;
}

.recommendations-button {
  width: 100%;

  padding: 14px 18px;

  border: 0;
  border-radius: 9px;

  background: #168da3;
  color: white;

  font-size: 15px;
  font-weight: 700;

  box-shadow: 0 5px 10px rgb(0 0 0 / 18%);

  cursor: pointer;
}

.updated {
  margin-top: 10px;

  text-align: center;

  color: #999;

  font-size: 14px;
  font-weight: 600;
}