<ion-content [fullscreen]="true">

  <div class="detalle-container">

    <div class="detalle-card">

      <div
        class="detalle-header"
        [class.emergencia]="alerta?.nivel === 'emergencia'"
        [class.advertencia]="alerta?.nivel === 'advertencia'"
        [class.precaucion]="alerta?.nivel === 'precaucion'"
      >

        <button
          class="back-button"
          type="button"
          (click)="volverAlMapa()"
        >
          <ion-icon name="arrow-back-outline"></ion-icon>
        </button>

        <div class="header-info">

          <span class="tipo-alerta">
            Alerta
          </span>

          <h1>{{ alerta?.titulo }}</h1>

          <span class="fuente">
            <ng-container *ngIf="alerta?.origen === 'oficial'; else fuenteVecinal">
              ✓ {{ alerta?.fuente }}
            </ng-container>

            <ng-template #fuenteVecinal>
              Fuente: Vecinal
            </ng-template>
          </span>

        </div>

       <div class="header-icon">
  <ion-icon [name]="iconoPorTipo()"></ion-icon>
</div>

      </div>

      <div class="detalle-body">

        <div class="nivel-alerta">
          Nivel:
          <strong>{{ alerta?.nivel }}</strong>
        </div>

        <div class="info-item">

          <div class="info-icon">
            <ion-icon name="time-outline"></ion-icon>
          </div>

          <div>
           <span class="info-titulo">Inicio</span>

<span class="info-valor">
  {{ formatearFecha(alerta?.fechaInicio) }}
</span>
          </div>

        </div>

        <div class="info-item">

          <div class="info-icon">
            <ion-icon name="time-outline"></ion-icon>
          </div>

          <div>
            <span class="info-titulo">Fin estimado</span>

            <span class="info-valor">
{{ formatearFecha(alerta?.fechaFin) }}            </span>
          </div>

        </div>

        <div class="info-item">

          <div class="info-icon">
            <ion-icon name="location-outline"></ion-icon>
          </div>

          <div>
            <span class="info-titulo">Zona afectada</span>

            <span class="info-valor">
              {{ alerta?.ubicacion?.latitud }},
              {{ alerta?.ubicacion?.longitud }}
            </span>
          </div>

        </div>

        <div class="info-item info-description">

          <div class="info-icon">
            <ion-icon name="document-text-outline"></ion-icon>
          </div>

          <div>

            <span class="info-titulo">Descripción</span>

            <span class="info-valor">
              {{ alerta?.descripcion }}
            </span>

          </div>

        </div>

        <button
          class="recommendations-button"
          type="button"
        >
          Ver recomendaciones
        </button>

        <div class="updated">
          Actualizado: ahora
        </div>

      </div>

    </div>

  </div>

</ion-content>