<ion-content class="ion-padding">

  <div class="contenedor">

    <div class="circulo-icono">
      <ion-icon name="location-outline"></ion-icon>
    </div>

    <h2>Tu ubicacion nos ayuda a <span class="destacado">cuidarte</span></h2>

    <p class="descripcion">Para mostrarte informacion relevante y alertas cerca tuyo, necesitamos tu ubicacion.</p>

    <ion-button expand="block" class="boton-permitir" (click)="permitirUbicacion()">Permitir ubicacion</ion-button>

    <ion-button expand="block" fill="outline" class="boton-ahora-no" (click)="ahoraNo()">Ahora no</ion-button>

  </div>

</ion-content>