@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

:host {
  --ion-background-color: #F8FAFC;
}

// Cambia el color de fondo y letras de los componentes
ion-header,
ion-toolbar,
ion-modal,
ion-card,
ion-title,
ion-item {
  --background: #F8FAFC;
  --ion-text-color: #000;
}

//Cambia el color de la letra del input y text area
ion-textarea,
ion-input {
  color: #03294FAD;
}

// Quita las configuraciones predeterminadas de los headers 
ion-header {
  box-shadow: none;
  --border-style: none;
}

// El titulo se centrea y cambia el color de la letra
ion-title {
  text-align: center;
  color: black;
}

// Todo el cuerpo del reporte
.reporte {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

// Configuraciones del aviso
.avisoPublic {
  text-align: center;
  background-color: #44DAEE2E;
  border-radius: 10px;
  padding-left: 1%;
  padding-right: 1%;
  font-style: #03294F;
}

.avisoPublic ion-note {
  color: #03294F;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  gap: 2%;
  font-size: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.avisoPublic img {
  max-width: 35px;
}

//Da orden a la imagen preview y la seleccion de imagenes
.imgform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2%;
}


.panelfoto {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 2%;

}

.previewimg {
  display: flex;
  width: 180px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.previewimg img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: solid 2px #999999;
  aspect-ratio: 16/9;
}

.selectimg {
  width: 140px;
  border-radius: 6px;
  border: solid #999999 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectimg img {
  width: 60px;
}

.selectimg {
  cursor: pointer;
  transition: 0.15s;
}

.selectimg:active {
  transform: scale(0.97);
  opacity: 0.7;
}

// Descripccion
.descripform {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}

.titulodescripcion {
  width: 100%;
}


.descripcion {
  display: flex;
  width: 94%;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.descripcion ion-textarea {
  width: 100%;
  display: flex;
  border-radius: 8px;
  border: 2px solid #999999;
  outline: none;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 1%;
  --padding-bottom: 0;
  --highlight-color-focused: #000000B5;

}

//Tipo de reportes
.formtipo {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2%;
}

.inputtipo {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.inputtipo ion-input{
  width: 95%;
  --padding: 100px;
}
//Ubicacion

.ubicacionform {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2%;
}

.infoubi {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-left: 2%;
}

.campubi {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  justify-content: center;
}

ion-input {
  width: 100%;
  color: #000000B5;
  background-color: #F8FAFC;
  border-radius: 8px;
  border: 2px solid #999999;
  height: 60%;
}


.buttonubi ion-button {
  width: 65px;
  --border-radius: 8px;
  --border-width: 2px;
  --border-style: solid;
  --border-color: #999999;
  --background: transparent;
  --background-activated: transparent;
  --background-focused: transparent;
  --background-hover: transparent;
  --color: #222222;
}


.buttonubi {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Fecha y hora
.fechaform {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
}

.buttondia,
.buttontime {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-datetime-button {
  --background: transparent;
  --color: #0E7490;
}

ion-datetime {
  --background: #F8FAFC;
  --wheel-fade-background-rgb: 248, 250, 252;
  --wheel-highlight-background: #E2E8F0;
  --wheel-selected-text-color: #2563EB;
}


// Boton para enviar el formulario
.buttonenviar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.buttonenviar ion-button {
  width: 300px;
  display: flex;

}

.buttonenviar img {
  width: 10%;
}