<ion-header>
  <div class="logo">
    <h1>
      Alertar
    </h1>
  </div>
</ion-header>

<ion-content>
  <div class="elements">
    <div class="subtitulo">
      <h2>
        Reporte situacion
      </h2>
      <p>
        Tu reporte ayuda a mantener informada a la comunidad
      </p>
    </div>
    <div class="avisoPublic">
      <ion-note>
        <div class="escudoPublic">
          <img src="\assets\icon\EscudoProteccion.png" alt="a">
        </div>
        Tu reporte sera revisado antes de publicarse en el mapa
      </ion-note>
    </div>
    <div class="reportes">
      <ion-title>
        <h3>
          ¿Que quieres reportar?
        </h3>
      </ion-title>
      <div class="buttons-reports">
        <div class="cardInundaciones">
          <ion-card>
            <ion-card-content>
              <img src="\assets\b292d3a231900b6789fd1af29f1ce86a.jpg" alt="">
              inundaciones
            </ion-card-content>
          </ion-card>
        </div>
        <div class="cardCalle">
          <ion-card>
            <ion-card-content>
              <img src="\assets\b292d3a231900b6789fd1af29f1ce86a.jpg" alt="">
              <p>Calle bloqueada</p>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="cardArbol">
          <ion-card >
            <ion-card-content>
            <img src="\assets\b292d3a231900b6789fd1af29f1ce86a.jpg" alt="">
              Caida de arbol
            </ion-card-content>
          </ion-card>
        </div>
        <div class="cardCorteLuz">
          <ion-card>
            <ion-card-content>
              <img src="\assets\b292d3a231900b6789fd1af29f1ce86a.jpg" alt="">
              Corte de luz
            </ion-card-content>
          </ion-card>
        </div>
        <div class="cardIncendios">
          <ion-card>
            <ion-card-content>
              <img src="\assets\b292d3a231900b6789fd1af29f1ce86a.jpg" alt="">
              incendios
            </ion-card-content>
          </ion-card>
        </div>
        <div class="cardMas">
          <ion-card>
            <ion-card-content>
               <img src="\assets\b292d3a231900b6789fd1af29f1ce86a.jpg" alt="">
              Mas
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
  <div class="avisoDescrip">
    <ion-note>
      Elige la opcion que mejor describa lo que ves o estas viviendo
    </ion-note>
  </div>
</ion-content>