:host {
    padding-left: 2%;
    padding-right: 2%;
    background-color: #F8FAFC;
}

ion-content {
    --background: hsl(210, 40%, 98%);
    --color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

ion-header {
    box-shadow: none;
    --border-style: none;
}

.logo {
    text-align: center;
    color: black;
}

.subtitulo {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.subtitulo h2 {
    margin-bottom: 0px;
}


.avisoPublic {

    width: 90%;
    text-align: center;
    background-color: #2EC12326;
    border-radius: 10px;
    height: 90%;
    padding: 1%;

}

.avisoPublic ion-note {
    color: #104E04;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    gap: 2%;
    font-size: 100%;
}

.escudoPublic img {
    max-width: 35px;
}

.reportes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-reports {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

ion-card {
    width: 70%;
    background-color: #F8FAFC;
    border: solid 4px #00000021;
    box-shadow: 5px 8px 10px #00000040;
    border-radius: 20px;
    padding-top:10px; 
    cursor: pointer;
    transition: all 0.2s ease;
}
ion-card:active {
  transform: scale(0.94);
}

ion-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 130px;
    pointer-events: none;
}

ion-card-content img {
    height: 50%;
}

.buttons-reports div {
    width: 40%;
    display: flex;
    justify-content: center;
}
.avisoDescrip ion-note{ 
    color: #03294F;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    gap: 2%;
    font-size: 100%;
}

.avisoDescrip {
    width: 90%;
    text-align: center;
    background-color: #44DAEE2E;
    border-radius: 10px;
    padding: 1.5%;
    font-style: #03294F;
}

.notifoto img {
    max-width: 35px;
}