<ion-header>
  <div class="logo">
    <h1>
      Alertar
    </h1>
  </div>
</ion-header>

<ion-content>
  <div class="elements">
    <div class="subtitulo">
      <h2>
        Reporte situacion
      </h2>
      <p>
        Tu reporte ayuda a mantener informada a la comunidad
      </p>
    </div>
    <div class="avisoPublic">
      <ion-note>
        <div class="escudoPublic">
          <img src="\assets\icon\EscudoProteccion.png" alt="a">
        </div>
        <p>Tu reporte sera revisado antes de publicarse en el mapa</p>
      </ion-note>
    </div>
    <div class="reportes">
      <ion-title>
        <h3>
          ¿Que quieres reportar?
        </h3>
      </ion-title>
      <div class="buttons-reports">
        <div class="cardInundaciones">
          <ion-card id="Indundaciones" (click)="creandoReporte($event)">
            <ion-card-content  (click)="$event.stopPropagation()">
              <img src="\assets\icon\casa.png" alt="">
              inundaciones
            </ion-card-content>
          </ion-card>
        </div>
        <div class="cardCalle">
          <ion-card id="Calle-bloqueada" (click)="creandoReporte($event)">
            <ion-card-content (click)="$event.stopPropagation()" >
              <img src="\assets\icon\tormenta.png" alt="">
              <p>Calle bloqueada</p>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="cardArbol">
          <ion-card id="Caida-de-arbol" (click)="creandoReporte($event)">
            <ion-card-content>
              <img src="\assets\icon\arbol-malo.png" alt="">
              Caida de arbol
            </ion-card-content>
          </ion-card>
        </div>
        <div class="cardCorteLuz">
          <ion-card id="Corte-de-luz" (click)="creandoReporte($event)">
            <ion-card-content>
              <img src="\assets\icon\foco.png" alt="">
              Corte de luz
            </ion-card-content>
          </ion-card>
        </div>
        <div class="cardIncendios">
          <ion-card id="Incendios" (click)="creandoReporte($event)">
            <ion-card-content>
              <img src="\assets\icon\flama.png" alt="">
              incendios
            </ion-card-content>
          </ion-card>
        </div>
        <div class="cardMas">
          <ion-card id="Mas" (click)="creandoReporte($event)">
            <ion-card-content>
              <img src="\assets\icon\mas.png" alt="">
              Mas
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
    <div class="avisoDescrip">
      <ion-note>
        <div class="notifoto">
          <img src="\assets\icon\notificacion.png" alt="">
        </div>
        <p>Elige la opcion que mejor describa lo que ves o estas viviendo</p>
      </ion-note>
    </div>
  </div>

</ion-content>