:host {
    padding-left: 2%;
    padding-right: 2%;
}

ion-header {
    box-shadow: none;
    --border-style: none;
}

.logo {
    text-align: center;
}

.subtitulo {
    padding-left: 5%;
    padding-right: 5%;
    
}
