<ion-content>
  <ion-header>
    <ion-item>
      <p>Subir Foto</p>
    </ion-item>
  </ion-header>
  <div class="contbuttonfotos">
    <div class="sacarfoto">
      <ion-label> 
        <p>
          Sacar una foto
        </p>
      </ion-label>
      <ion-button>
        <ion-icon size="large" name="camera-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="subirfoto">
      <ion-label>
        <p>Seleccionar una foto</p>
      </ion-label>
      <ion-button>
        <ion-icon size="large" name="image-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>